@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-4">
        <div class="control-group">
            <div>
                <label for="broadcast">Message</label>
                <input type="text" id="broadcast" name="broadcast" />
            </div>
            <button id="btn-broadcast">Broadcast</button>
        </div>
        <div class="control-group">
            <div>
                <label for="others-message">Message</label>
                <input type="text" id="others-message" name="others-message" />
            </div>
            <button id="btn-others-message">Send to Others</button>
        </div>
        <div class="control-group">
            <div>
                <label for="self-message">Message</label>
                <input type="text" id="self-message" name="self-message" />
            </div>
            <button id="btn-self-message">Send to Self</button>
        </div>
        <div class="control-group">
            <div>
                <label for="individual-message">Message</label>
                <input type="text" id="individual-message" name="individual-message" />
            </div>
            <div>
                <label for="connection-for-message">User connection id:</label>
                <input type="text" id="connection-for-message" name="connection-for-message" />
            </div>
            <button id="btn-individual-message">Send to Specific User</button>
        </div>
    </div>

    <div class="col-md-7">
        <p>SignalR Messages:</p>
        <pre id="signalr-message-panel"></pre>
    </div>
</div>
